*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  font-family: "Noto Sans", sans-serif;
  background: linear-gradient(180deg, #040918 0%, #091540 100%);
}

body.theme-light {
  background: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

button {
  cursor: pointer;
}

.container {
  padding: 1.5rem 1rem;
  width: 100%;
  max-width: 74rem;
  margin: auto;
}

@media (min-width: 48rem) {
  .container {
    padding-block: 2.5rem;
  }
}
input[type=checkbox]:focus, button:focus {
  outline: 2px solid hsl(3, 71%, 56%);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.75rem;
  margin-bottom: 2.125rem;
  border-radius: 0.75rem;
  background-color: hsl(226, 24%, 17%);
}
@media (min-width: 48rem) {
  .header {
    margin-bottom: 4rem;
  }
}
.header__theme-toggle {
  width: 3.125rem;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.625rem;
  background-color: hsl(226, 11%, 37%);
}

body.theme-light .header {
  background-color: hsl(200, 60%, 99%);
}
body.theme-light .header__theme-toggle {
  background-color: hsl(0, 0%, 93%);
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 2rem;
}
@media (min-width: 48rem) {
  .filters {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
}
.filters__title {
  font-size: 2rem;
  color: hsl(200, 60%, 99%);
}
.filters__btn {
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 25px;
  font-size: 1.25rem;
  color: hsl(200, 60%, 99%);
  background-color: hsl(226, 24%, 17%);
  transition: all 0.3s ease;
}
.filters__btn--active {
  color: hsl(227, 75%, 14%);
  background-color: hsl(3, 86%, 64%);
}

body.theme-light .filters__title {
  color: hsl(226, 24%, 17%);
}
body.theme-light .filters__btn {
  color: hsl(227, 75%, 14%);
  background-color: hsl(200, 60%, 99%);
}
body.theme-light .filters__btn--active {
  color: hsl(200, 60%, 99%);
  background-color: hsl(3, 77%, 44%);
}

.extension-card {
  padding: 1.25rem;
  border: 1px solid hsl(225, 23%, 24%);
  border-radius: 1.25rem;
  background-color: hsl(226, 24%, 17%);
}
.extension-card__info {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.extension-card__icon {
  align-self: flex-start;
}
.extension-card__title {
  font-size: 1.25rem;
  color: hsl(200, 60%, 99%);
  margin-bottom: 0.3125rem;
}
.extension-card__desc {
  font-size: 0.9375rem;
  color: hsl(200, 60%, 99%);
}
.extension-card__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.25rem;
}
.extension-card__toggle input[type=checkbox] {
  display: none;
}
.extension-card__toggle input[type=checkbox]:checked + .extension-card__toggle-label {
  background-color: hsl(3, 86%, 64%);
}
.extension-card__toggle input[type=checkbox]:checked + .extension-card__toggle-label .extension-card__toggle-slider {
  transform: translateX(15px);
}
.extension-card__toggle-label {
  width: 2.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 50px;
  background-color: hsl(226, 11%, 37%);
}
.extension-card__toggle-slider {
  width: 1rem;
  height: 1rem;
  margin: 5px;
  border-radius: 50%;
  background-color: hsl(200, 60%, 99%);
  transition: transform 0.3s ease;
}
.extension-card__remove {
  padding: 0.35rem 0.8rem;
  border-radius: 50px;
  border: 2px solid hsl(225, 23%, 24%);
  color: hsl(200, 60%, 99%);
  background: none;
  transition: all 0.3s ease;
}
.extension-card__remove:hover {
  background-color: hsl(3, 86%, 64%);
  color: hsl(227, 75%, 14%);
}

.extension-card.fade-out {
  opacity: 0;
  transform: scale(0.75);
  transition: opacity 0.3s ease, transform 0.5s ease;
  pointer-events: none;
}

body.theme-light .extension-card {
  background: hsl(200, 60%, 99%);
  border: 1px solid hsl(217, 61%, 90%);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
body.theme-light .extension-card__title {
  color: hsl(227, 75%, 14%);
}
body.theme-light .extension-card__desc {
  color: hsl(226, 11%, 37%);
}
body.theme-light .extension-card__remove {
  border: 2px solid hsl(0, 0%, 93%);
  color: hsl(226, 24%, 17%);
}
body.theme-light .extension-card__remove:hover {
  background-color: hsl(3, 77%, 44%);
  color: hsl(200, 60%, 99%);
}
body.theme-light .extension-card__toggle input[type=checkbox]:checked + .extension-card__toggle-label {
  background-color: hsl(3, 77%, 44%);
}
body.theme-light .extension-card__toggle-label {
  background-color: hsl(0, 0%, 78%);
}

.extensions-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 0.75rem;
}

/*# sourceMappingURL=style.css.map */
