@use 'variables' as *;
@use "sass:map";

.extension-card {
    padding: 1.25rem;
    border: 1px solid map.get($neutral, "neutral-700");
    border-radius: 1.25rem;
    background-color: map.get($neutral, "neutral-800");

    &__info {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__icon {
        align-self: flex-start;
    }

    &__title {
        font-size: 1.25rem;
        color: map.get($neutral, "neutral-000");
        margin-bottom: 0.3125rem;
    }

    &__desc {
        font-size: 0.9375rem;
        color: map.get($neutral, "neutral-000");
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.25rem;
    }

    &__toggle input[type=checkbox] {
        display: none;

        &:checked + .extension-card__toggle-label {
            background-color: map.get($red, "red-400");
        }

        &:checked + .extension-card__toggle-label .extension-card__toggle-slider {
            transform: translateX(15px);
        }
    }

    &__toggle-label {
        width: 2.5rem;
        height: 1.5rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        border-radius: 50px;
        background-color: map.get($neutral, "neutral-600");
    }

    &__toggle-slider {
        width: 1rem;
        height: 1rem;
        margin: 5px;
        border-radius: 50%;
        background-color: map.get($neutral, "neutral-000");
        transition: transform 0.3s ease;
    }

    &__remove {
        padding: 0.35rem 0.8rem;
        border-radius: 50px;
        border: 2px solid map.get($neutral, "neutral-700");
        color: map.get($neutral, "neutral-000");
        background: none;
        transition: all 0.3s ease;

        &:hover {
            background-color: map.get($red, "red-400");
            color: map.get($neutral, "neutral-900");
        }
    }   
}

.extension-card.fade-out {
    opacity: 0;
    transform: scale(0.75);
    transition: opacity 0.3s ease, transform 0.5s ease;
    pointer-events: none;
}

body.theme-light {
    .extension-card {
        background: map.get($neutral, "neutral-000");
        border: 1px solid map.get($neutral, "neutral-200");
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

        &__title {
            color: map.get($neutral, "neutral-900");
        }

        &__desc {
            color: map.get($neutral, "neutral-600");
        }

        &__remove {
            border: 2px solid map.get($neutral, "neutral-100");
            color: map.get($neutral, "neutral-800");

            &:hover {
                background-color: map.get($red, "red-700");
                color: map.get($neutral, "neutral-000");
            }
        }

        &__toggle input[type=checkbox] {
            &:checked + .extension-card__toggle-label {
                background-color: map.get($red, "red-700");
            }
        }

        &__toggle-label {
            background-color: map.get($neutral, "neutral-300");
        }
    }
}